/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

/* header formatting  */
#logo{
    border: none;
    display: flex;
    height: auto;
    width: 400px;
    flex-shrink: 0;
    margin-top: -20px ;
    margin-left: -120px;
}
header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937 ;
    color: #F9FAF8;
    justify-content: flex-start;
    padding-left: 200px;
    padding-right: 200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: sticky;
    top: 0;
    background-color: #1F2937;
}

.divLinks{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin-top: -20px;
}

.divLinks > a{
    color: #F9FAF8;
    text-decoration: none;
    padding: 15px;
}
.divLinks > a:hover {
    color: #1F2937;
    background-color: #F9FAF8;
    border-radius: 5px;
    border: #F9FAF8 solid;
}

.presentation{
    display: flex;
    justify-content: space-between ;
    padding-bottom: 100px;
    gap: 100px;
    align-items: center;
}

.present{
    display: flex;
    flex-direction: column;
}

.presentTitle{
    font-size: 3em;
    font-weight: 900;
    background: linear-gradient(90deg,  #F9FAF8, 75%, #3882F6);
    background-clip: text;
    color: transparent;
}
.headButton{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    border: solid #3882F6;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
}
.headButton:hover{
    background-color: #F9FAF8;
    color: #3882F6;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    border: solid #F9FAF8;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
}

.presentImg{
    height: 400px;
    width: 600px ;
    
}

/* the main content formatting */

main{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: space-between ;
    padding: 10px 200px 10px 200px;
    gap: 10px;

}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px ;
    gap: 10px;
}
.yachtPic{
    height: 350px;
    width: 350px;
    border: solid 5px #3882F6; 
    border-radius: 10px;
}
.containerTitle{
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 1.5em;
    padding: 60px;
}

.yachtName{
    color: #1F2937;
    font-size: 2em;
    font-weight: 900;
    border-bottom: #1F2937 solid 10px;
    margin-bottom: 10px;    
}


/* Quote section formatting */
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px ;
    margin-bottom: 20px;
    background-color: #E5E7EB;
    padding: 150px 200px 150px 200px;
    color: #1F2937;
    font-style: italic;
    font-weight: 400;
}

.quote p {
    font-weight: 400;
    max-width: 700px;
    color: #1F2937;
}

.quote span {
    font-weight: 800;
    position: relative;
    left: 100px;
}


/* section just above footer */
.beforeFooter{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 100px 200px 100px 200px;
    background-color: #3882F6;
    margin: 100px 200px 100px 200px;
    color: #F9FAF8;
}

.beforeFooter > div {
    color: #F9FAF8;
}

.beforeFooter  span {
    font-size: 1.3em;
    font-weight: 800;
}
.beforeFooter button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    border: solid #F9FAF8;
    cursor: pointer;
    font-weight: 600;
}

.beforeFooter button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    border: solid #F9FAF8;
    cursor: pointer;
}



/* footer formatting */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    font-weight: 900;
}

